body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    height: 100%;
}

.section {
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin: 0;
}

p {
    font-size: 16px;
    margin-top: 5px;
}

body>p {
    color: #555;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button:hover:enabled {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.hidden {
    display: none !important;
}